@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.visual {
    height: 500px;
}

.visual .visual-swiper {
    height: 100%;
    /* height 값은 중간에 부모/조상에 height 값이 없으면 상속 x */
}

.visual .swiper-slide {
    position: relative;
}

.visual .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.visual .swiper-slide .text {
    width: 1280px;
    /*  background-color: lightgrey; */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}